% if not(redirect):
upstream ${id} {
    % for ipspec in ipspecs:
    server ${ipspec};
    % endfor
${extra}
}
% endif

server {
    access_log /var/log/nginx/access.log reactor;

% if not(netloc):
    listen ${listen} default_server;
    server_name _;
    server_name_in_redirect off;
% else:
    listen ${listen};
    server_name ${netloc};
% endif

    location ${path} {

% if redirect:
      return 301 ${redirect};
% else:
      proxy_pass ${scheme}://${id};
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_buffering  off;
      proxy_connect_timeout 10;
      proxy_send_timeout    30;
      proxy_read_timeout    30;
% endif
    }
}
