upstream ${netloc} {
    % for address in addresses:
    server ${address};
    % endfor
}
 
server {

    log_format scalemanager '$remote_addr - $remote_user [$time_local]  '
                    '<http://$host> "$request" $status $body_bytes_sent '
                    '"$http_referer" "$http_user_agent"';
    access_log /var/log/nginx/access.log scalemanager;

    listen 80;
    server_name ${netloc};
    location / {
      proxy_pass ${url};
    }
}
