/*
 * admin.css
 */

body {
    overflow-y: scroll;
}
.row-fluid#content {
    margin-top: 60px;
}
.container a.brand.active {
    color: white;
}
div.hidden {
    display: none;
}
div.accordion-body.in {
    overflow: visible !important;
}
.centered {
    float: none !important;
    margin: auto !important;
}
ul.nav-list li a {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
