upstream ${id} {
    % for ip in ips:
    server ${ip}:${port};
    % endfor
}
 
server {
    access_log /var/log/nginx/access.log pancake;

    listen ${listen};
    server_name ${netloc};
    location ${path} {
      proxy_pass ${scheme}://${id};
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
