upstream ${id} {
    % for address in addresses:
    server ${address};
    % endfor
}
 
server {
    access_log /var/log/nginx/access.log pancake;

    listen ${port};
    server_name ${id};
    location ${path} {
      proxy_pass ${scheme}://${netloc};
    }
}
