upstream ${id} {
    % for address in addresses:
    server ${address};
    % endfor
}
 
server {
    access_log /var/log/nginx/access.log pancake;

    listen ${listen};
    server_name ${netloc};
    location ${path} {
      proxy_pass ${scheme}://${id}:${port};
    }
}
