Package: reactor-server
Section: extra
Version: @(VERSION)
Architecture: all
Depends: reactor-client,
    python-reactor (= @(VERSION)),
    python-paste, python-pyramid,
    python-mako, python-webob,
    python-zookeeper
Maintainer: Gridcentric Inc. <support@gridcentric.com>
Description: Reactor server
